.body-side--container {
      width: 100%;
      padding: 0 35px;
      align-items: left;
      text-align: left;
      min-height: 87vh;
      height: auto;
      background-color: rgb(237,241,247);
      /* background-image: url("../../../assets/Images/background-image.jpg"); */
}
