.Jumbotron-container {
      background-color: rgb(250, 251, 255);
      height: auto;
      border: 1px solid #e4e9f2;
      padding: 20px 30px;
      border: 1px solid lightgray;
      margin: 30px auto 0px !important;
      /* width:60% */
}
.jumbotron-heading {
      font-size: 22px;
      color: rgb(10,65,110);
      text-align: left;
}
.jumbotron-form-container {
      height: auto;
      padding: 0 10px;
}
@media screen and (max-width: 600px) {
      .jumbotron-form-container {
            width: 100%;
      }
      .Jumbotron-container {
            background-color: rgb(250, 251, 255);
            width:auto;
         
            height: auto;
            border: 1px solid #e4e9f2;
            
            padding: 20px 30px;
            border: 1px solid lightgray;
            margin:10px auto !important;
      }
}
