.middle-container {
      width: 40%;
      border: 1px solid red;
      height: 50vh;
}
.task-chain-container {
      padding-top: 160px;
}
.draggable {
      width: 40px;
      height: 40px;
      background-color: yellow;
      margin: 5px auto;
      line-height: 2em;
      font-size: 11px;
      text-align: center;
}
